@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/*=============================================
=            Common css            =
=============================================*/
/* CSS Reset */
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "Noto Serif", sans-serif;
    --color: #e95a08;
}

body {
    font-family: var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

ul.bullets {
    list-style: disc;
    color: #00000080;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol {
    margin: 0;
    padding: 0;
}

.btn-btn-primary {
    padding: 26px 50px;
    width: 100%;
    background-color: var(--color);
}

.flowers img {
    width: 540px;
    height: 500px;

}

.flowers .badge img {
    width: 286px;
    height: 286px;
}
.latest-deals .zabo {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*=====  End of Common css  ======*/

/*=============================================
=            header responsive            =
=============================================*/
@media screen and (max-width: 576px) {
    nav {
        margin-right: 16px;
        margin-left: 16px;
        margin-top: 20px;
    }

    nav img {
        width: 63px;
        height: 38px;
    }

    .banner .img {
        width: 100%;
    }

    .banner h1 {
        font-size: 24px;

    }

    .banner p {
        font-size: 14px;
    }

    .btn-btn-primary {
        padding: 13px 30px;
        width: 100%;
    }

    .flowers img {
        width: 100%;

    }
}


/*=====  End of header responsive  ======*/